# PORT=5000
MONGO_URI=mongodb+srv://akhilsaitejasunkara:IpssOMvGXypHMOou@cluster0.hswsm.mongodb.net/netflix_db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=your_jwt_secret
TMDB_API_KEY=1aaec1d08047afa52b9787b6c914292f